<nav class="navbar navbar-default">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item dropdown"style="position:absolute;left:100px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              SALES
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section41">Home</a>
              <a class="dropdown-item" href="#section42">Accounts</a>
              <a class="dropdown-item" href="#section42">Contacts</a>
              <a class="dropdown-item" href="#section42">Opportunities</a>
              <a class="dropdown-item" href="#section42">Leads</a>
            </div>
          </li>

          <li class="nav-item dropdown"style="position:absolute;left:160px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              MARKETING
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section41">Home</a>
              <a class="dropdown-item" href="#section42">Accounts</a>
              <a class="dropdown-item" href="#section42">Contacts</a>
              <a class="dropdown-item" href="#section42">Leads</a>
              <a class="dropdown-item" href="#section42">Campaigns</a>
              <a class="dropdown-item" href="#section42">Targets</a>
              <a class="dropdown-item" href="#section42">Targets-List</a>
            </div>
          </li>
          <li class="nav-item dropdown"style="position:absolute;left:270px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              SUPPORT
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section42">Home</a>
              <a class="dropdown-item" href="#section42">Accounts</a>
              <a class="dropdown-item" href="#section42">Contacts</a>
              <a class="dropdown-item" href="#section42">Cases</a>
            </div>
          </li>
          <li class="nav-item dropdown"style="position:absolute;left:360px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              ACTIVITIES
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section42">Home</a>
              <a class="dropdown-item" href="#section42">Calender</a>
              <a class="dropdown-item" href="#section42">Calls</a>
              <a class="dropdown-item" href="#section42">Mettings</a>
              <a class="dropdown-item" href="#section42">Emails</a>
              <a class="dropdown-item" href="#section42">Tasks</a>
              <a class="dropdown-item" href="#section42">Notes</a>

            </div>
          </li>
          <li class="nav-item dropdown"style="position:absolute;left:460px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              COLLABORATION
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section42">Home</a>
              <a class="dropdown-item" href="#section42">Emails</a>
              <a class="dropdown-item" href="#section42">Documents</a>
              <a class="dropdown-item" href="#section42">Projects</a>
            </div>
          </li>
          <li class="nav-item dropdown "style="position:absolute;left:620px;">
            <a class="nav-link dropdown" href="#" id="navbardrop" data-toggle="dropdown">
              ALL
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section42">Home</a>
              <a class="dropdown-item" href="#section42">Accounts</a>
              <a class="dropdown-item" href="#section42">Contacts</a>
              <a class="dropdown-item" href="#section42">opportunities</a>
              <a class="dropdown-item" href="#section42">Leads</a>
              <a class="dropdown-item" href="#section42">Quotes</a>
              <a class="dropdown-item" href="#section42">Callender</a>
              <a class="dropdown-item" href="#section42">Documents</a>
              <a class="dropdown-item" href="#section42">Emails</a>
              <a class="dropdown-item" href="#section42">Spots</a>
              <a class="dropdown-item" href="#section42">Compaigns</a>
              <a class="dropdown-item" href="#section42">Calls</a>
              <a class="dropdown-item" href="#section42">Mettings</a>
              <a class="dropdown-item" href="#section42">Tasks</a>
              <a class="dropdown-item" href="#section42">Notes</a>
              <a class="dropdown-item" href="#section42">Invoices</a>
              <a class="dropdown-item" href="#section42">Contracts</a>
              <a class="dropdown-item" href="#section42">Cases</a>
              <a class="dropdown-item" href="#section42">Targets</a>
              <a class="dropdown-item" href="#section42">Target-List</a>
              <a class="dropdown-item" href="#section42">Projects</a>
              <a class="dropdown-item" href="#section42">Project-templates</a>
              <a class="dropdown-item" href="#section42">Events</a>
              <a class="dropdown-item" href="#section42">Locations</a>
              <a class="dropdown-item" href="#section42">Products</a>
              <a class="dropdown-item" href="#section42">Products-Categories</a>
              <a class="dropdown-item" href="#section42">PDF-Templates</a>
              <a class="dropdown-item" href="#section42">Maps</a>
              <a class="dropdown-item" href="#section42">Maps-marks</a>

            </div>
          </li>
         
       
        </ul>
      </nav>
      <br>
      
      <div class="container">
                           
        <div class="glyphicon glyphicon-user" style="left:0px;"> 
          <button type="button" class=" dropdown-toggle" data-toggle="dropdown"style="position:absolute;right:20px;top:25px">
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu" style="position: absolute;left: 1300px;top:65px; width: 200px;">
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a><hr>
           
            <a class="dropdown-item" [routerLink]="['/employee']">Employees</a> <hr>
            <a class="dropdown-item" href="#"[routerLink]="['/support']">Support Fourm</a><hr>
            <a class="dropdown-item" href="#"[routerLink]="['/about']">About</a><hr>
            <a class="dropdown-item" href="#"[routerLink]="['/accounts']">Logout</a>
            
          </div>
        </div>
        
      </div>
    
  
    </div>
    
  </nav>
  <div class="dropdown" style="position: absolute;left:900px;top:24px;">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      CREATE
    </button>
    <div class="dropdown-menu">
      <a [routerLink]="['/accounts']" class="dropdown-item" >Create Accounts</a><hr>
      <a [routerLink]="['/contacts']" class="dropdown-item"  >Create Contacts</a><hr>
      <a [routerLink]="['/opportunities']" class="dropdown-item" href="#">Create Opportunities</a><hr>
      <a [routerLink]="['/leads']"class="dropdown-item" href="#">Create Leads</a><hr>
      <a [routerLink]="['/documents']"class="dropdown-item" href="#">Create Documents</a><hr>
      <a [routerLink]="['/calls']"class="dropdown-item" href="#">Create Calls</a><hr>
      <a [routerLink]="['/tasks']"class="dropdown-item" href="#">Create Tasks</a>
    </div>
  </div>
  <li>
    <div class="searchBox"style="position:absolute;top:24px;left:1300px;" >
  
     <button class="searchButton" id="serch">
      <i class="fab fa-searchengin"></i>
     </button>
     </div>
   </li>
   <div class="input-group mb-3"style="position:absolute;width:300px;top:24px;left:1030px; display:none;" id="sdiv">
    <input type="text" class="form-control" placeholder="Search...">
    <div class="input-group-append">
       
      <button class="btn btn-danger" type="button" id="hser">X</button>  
     </div>
  </div>
  <li>
    <div class="searchBox"style="position:absolute;top:24px;left:1400px;" >
  
     <button class="Button" >
      <i class="far fa-bell"></i>
     </button>
     </div>
   </li>
   <li>
    <div class="searchBox"style="position:absolute;top:22px;left:70px;" >
  
     <button class="Button" >
     <i class="fas fa-home"></i>
     </button>
     </div>
   </li>