<div style="width: 100%;height: 65px;background-color:#404040;">
    <a style="position: absolute;left:30px;font-size: 20px;top:16px;color:white" [routerLink]="['/home']">Home</a>
     <a id="btn1"(click)="calls()"style="color:white;font-size:20px;width: 100%;height: 50px; position: absolute;top:15px;left:1000px">Register as student / </a> <a id="btn2"(click)="callt()"style="color:white;font-size:20px;width: 100%;height: 50px; position: absolute;top:15px;left:1200px">Register as teacher</a>
    </div>
    <div style="display: none; position: absolute;left:450px;" id="div1">
      <div class="container">
  
         <div style="width:500px;height: 525px;position:absolute;left:300px; top:15px;background-color: white;border-radius: 19px">
          <div style="position: absolute;left:250px;top:-15px"><h4>Student Registration</h4></div>
        
          <div class="col-sm-10">
          <div class="form-group">
            <input type="text"placeholder="First Name" style="position: absolute;top:10px;left:160px"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
  
          <div class="form-group">
            <input type="text" placeholder="Last Name"style="position: absolute;top:55px;left:160px" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <input  placeholder="Date Of Birth"style="position: absolute;top:100px;left:160px"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email ID" style="position: absolute;top:145px;left:160px"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <input type="number" placeholder="Contact Number" style="position: absolute;top:190px;left:160px"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <input type="text"placeholder="Highest Degree" class="form-control" style="position: absolute;top:235px;left:160px"id="exampleInputPassword1">
          </div>
          <div class="image-upload-wrap">
            <input class="file-upload-input" style="position: absolute;top:290.5px;left:290px"type="file" onchange="readURL(this);" accept="image/.."/>
            <div class="file-upload-content">
              <img class="file-upload-image rounded-circle"style="position: absolute;top:290px;left:180px" src="#" alt="your image* "/>
              <div class="image-title-wrap">
  
              </div>
            </div>
          </div>
          <div class="image-upload-wrap">
            <input class="file-upload-input" style="position: absolute;top:330.5px;left:290px"type="file" onchange="readURL(this);" accept="image/.."/>
            <div class="file-upload-content">
              <img class="file-upload-image rounded-circle"style="position: absolute;top:325px;left:180px" src="#" alt="ID proof* "/>
              <div class="image-title-wrap">
  
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <input type="password"placeholder="password" style="position: absolute;top:370px;left:160px"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <input type="password"placeholder="Conform Password" class="form-control"style="position: absolute;top:415px;left:160px" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary"style="position: absolute;top:470.5px;left:160px;width:420px;height:45px;">Register</button>
         <br><br> <button class="btn btn-danger" style="position: absolute;top:530.5px;left:160px;width:420px;height:45px;" [routerLink]="['/student']">cancel</button>
  
        </div>
  
         </form>
         </div>
       </div>
  
    </div>
    <div id="div2" style="display:none;position: absolute;left:450px;">
    <div class="container">
      <div style="width:500px;height: 525px;position:absolute;left:300px; top:15px;background-color: white;border-radius: 19px">
        <div style="position: absolute;left:250px;top:-15px"><h4>Teacher Registration</h4></div>
      <form action="/action_page.php">
        <div class="col-sm-10">
        <div class="form-group">
          <input type="text" placeholder="First Name"style="position: absolute;top:10px;left:160px"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
  
        <div class="form-group">
          <input type="text"placeholder="Last Name"style="position: absolute;top:55px;left:160px" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="number" placeholder="Contact Number"style="position: absolute;top:100px;left:160px"class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email ID" style="position: absolute;top:145px;left:160px"class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="number"placeholder="Contact Number" style="position: absolute;top:190px;left:160px"class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="text"placeholder="Experience" class="form-control" style="position: absolute;top:235px;left:160px"id="exampleInputPassword1">
        </div>
        <div class="image-upload-wrap">
          <input class="file-upload-input" style="position: absolute;top:290.5px;left:290px"type="file" onchange="readURL(this);" accept="image/.."/>
          <div class="file-upload-content">
            <img class="file-upload-image rounded-circle"style="position: absolute;top:290px;left:180px" src="#" alt="your image* "/>
            <div class="image-title-wrap">
  
            </div>
          </div>
        </div>
        <div class="image-upload-wrap">
          <input class="file-upload-input" style="position: absolute;top:330.5px;left:290px"type="file" onchange="readURL(this);" accept="image/.."/>
          <div class="file-upload-content">
            <img class="file-upload-image rounded-circle"style="position: absolute;top:325px;left:180px" src="#" alt="ID proof* "/>
            <div class="image-title-wrap">
  
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" placeholder="skills"style="position: absolute;top:370px;left:160px"class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="password"  placeholder="password"style="position: absolute;top:410px;left:160px"class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <input type="password"placeholder="Conform Password" class="form-control"style="position: absolute;top:450.5px;left:160px" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary"style="position: absolute;top:500.5px;left:160px;width:420px;height:45px;">Register</button>
        <br><br> <button class="btn btn-danger" style="position: absolute;top:550.5px;left:160px;width:420px;height:45px;" [routerLink]="['/student']">cancel</button>
      </div>
      </form>
    </div>