<div style="background-image: url('/assets/image/12.jpg'); width: 100%;height: 100%;background-repeat: no-repeat;background-size: 100%;">
<div style="width:60%;height:600px;border:1px solid black;background-color:whitesmoke;position:absolute;border-radius: 19px;left:300px;top:50px">
 <img src="/assets/image/13.jpg"style="width:200px;height:200px;border-radius:100px;position:absolute;left:150px;top:130px">

 <p style="position: absolute;left: 100px;top:350px;height:20px"><b> <i>"A Building With Four Wall And Tomorrow Inside "</i></b></p>

<div style="width:40%;height: 450px;border:1px solid black;position:absolute;left:500px; top:70px;background-color: white;border-radius: 19px">

  <img src="/assets/image/14.jpg" style="width:100px; height:100px;border-radius:150px;position: absolute;left:140px;top:-55px;"/>

  <div class="col-sm-12">
<form >
  <br><br>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
<br>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <br>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember</label>
  </div>
  <button type="submit" class="btn btn-primary"style="position: relative;left:130px" [routerLink]="['/teacher']">Login</button>
<br><br>
<p>Not yet registered ?
<a [routerLink]="['/register']" style="position: relative;left:100px;">Register</a></p>
<a style="position: relative;left:150px;font-size: 20px;" [routerLink]="['/home']">cancel</a>
</form>
</div>
</div>
</div>
</div>

