<nav class="navbar navbar-default" style="height:65px;background-color:#404040;">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:10px;top:10px;">Cname</a>
        </li>
        <li>
          <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:850px;top:10px;">My Courses</a>
          </li>
          <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:1000px;top:10px;">Resourses</a>
          <li>
            </li>
        <li>
           <div class="searchBox"style="position:absolute;top:10px;left:1150px" >
          <input class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
            </div>
          </li>
      </ul>
    </nav>
  
   <div class="glyphicon glyphicon-user" >
      <a class=" dropdown-toggle" data-toggle="dropdown"style="position:absolute;right:60px;top:20px;border-radius:30px;color:white">
        </a>
      <div class="dropdown-menu" style="position: absolute;right: 300px;width:20px">
        <a class="dropdown-item" [routerLink]="['/studentprofile']">Profile</a><hr>
        <a class="dropdown-item" [routerLink]="['/reports']">Reports</a><hr>
        <a class="dropdown-item" [routerLink]="['/Session']">Session</a><hr>
        <a class="dropdown-item" [routerLink]="['/Settings']">Settings</a><hr>
        <a class="dropdown-item" [routerLink]="['/Reviews']">Reviews</a><hr>
       <a class="dropdown-item" [routerLink]="['/helpsupport']">Help & Support</a><hr>
        <a class="dropdown-item" href="#">Logout</a>
    </div>
    <img src="/assets/image/icon.png" style="width:40px; height:40px;border-radius:150px;position: absolute;left:1400px;top:15px;"/>
    </div>
  <div style="width: 100%;height:700px;background-color:white;">
    <div style="position: absolute;margin-top:100px;width: 300px;height:400px; left:10px;">
  
        <a class="dropdown-item" href="#">Edit Profile</a><hr>
        <a class="dropdown-item" href="#">Change Password</a><hr>
        <a class="dropdown-item" href="#">Session</a><hr>
        <a class="dropdown-item" href="#">Settings</a><hr>
        <a class="dropdown-item" href="#">Reports</a><hr>
        <a class="dropdown-item" href="#">Reviews</a><hr>
        <a class="dropdown-item" href="#">Help & Support</a>
    </div>
    <div style="position: absolute;margin-top:250px;width: 500px;height:400px;border: black; left:600px;">
        <div class="form-group" style="position: relative;left: 40px;">
         <br>
<div class="di1">
    <div style="position: absolute;top: 1200px;left:750px"></div><p>My Tickets</p></div>
    <div style="position: absolute;margin-top:-10px;width: 500px;height:400px;border: black; left:10px;">
        <div class="form-group" style="position: relative;left: 10px;">
         <br>
<a href="#"> + Create Tickets</a>
  </div>
