<nav class="navbar navbar-default">
    <div class="container-fluid">
      
      
  
     
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a style="position:absolute;left:50px;" class="nav-link" href="#">WebSiteName</a>
          </li>

          <li class="nav-item" style="left:px;">
            <a  style="position:absolute;left:670px;"class="nav-link"  href="#">MYCOURSE</a>
          </li>
          <li class="nav-item">
            <a style="position:absolute;left:800px;" class="nav-link" href="#">RESOURCE</a>
          </li>
          <input type="text" placeholder="Search.." name="search" style="top:20px;width: 300px;right:450px; height: 25px;position: absolute;left: 990px;">
        </ul>
      </nav>
      <br>
      
      <div class="container">
                           
        <div class="glyphicon glyphicon-user" style="left:0px;"> 
          <button type="button" class=" dropdown-toggle" data-toggle="dropdown"style="position:absolute;right:20px;top:25px">
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu" style="position: absolute;left: 1300px;top:65px; width: 200px;">
            <a class="dropdown-item" href="#"[routerLink]="['/profile']">Profile</a><hr>
           
            <a class="dropdown-item" href="#" [routerLink]="['/earnings']">Earning</a> <hr>
            <a class="dropdown-item" href="#"  [routerLink]="['/reports']">Reports</a><hr>
            <a class="dropdown-item" href="#"[routerLink]="['/help']">Help & Support</a><hr>
            <a class="dropdown-item" href="#"[routerLink]="['/reviews']">reviews</a><hr>
            <a class="dropdown-item" href="#"[routerLink]="['/home']">Logout</a>
          </div>
        </div>
      </div>
    
  
    </div>
  </nav>
  <br>
  <br>
  <br>
    <div class="container">
    <h6>HI Text Viewer</h6>
    <p>Click on the button to toggle between showing and hiding content.</p>
    </div>
    <br>
    <br>
    
  <form class="example" action="/action_page.php">
    <input type="text" placeholder="Search.." name="search" style="width: 500px;right:450px; height: 30px;position: absolute;left: 200px;">
    <button type="submit" style="position: absolute;left:700px;"><i class="fa fa-search"></i></button>
  </form>
  <br>
  <br>
  <br>
  <div class="container">
  <button type="button" class="btn" [routerLink]="['/php']"  style="border-radius: 30px;background-color:rgb(224, 230, 231);">PHP</button>&nbsp;
  
   <button type="button" class="btn"  [routerLink]="['/java']"  style="border-radius: 30px;background-color:rgb(224, 230, 231);">JAVA</button>&nbsp;
  
    <button type="button" class="btn"   [routerLink]="['/html']" style="border-radius: 30px;background-color:rgb(224, 230, 231);">HTML</button>&nbsp;
    <button type="button" class="btn" style="border-radius: 30px;background-color:rgb(224, 230, 231);">CSS</button>&nbsp;
    <button type="button" class="btn" style="border-radius: 30px;background-color:rgb(224, 230, 231);">PYTHON</button>&nbsp;
    <button type="button" class="btn"style="border-radius: 30px;background-color:rgb(224, 230, 231);">MYSQL</button>&nbsp;
    <button type="button" class="btn"style="border-radius: 30px;background-color:rgb(224, 230, 231);">ANGULAR</button>&nbsp;
    <button type="button" class="btn"style="border-radius: 30px;background-color:rgb(224, 230, 231);">JAVA SCRIPT</button>&nbsp;
    <br>
    <br>
    <br>
    <br>
    <h5>BROWSE CATEGORY</h5>
  </div>
  <br>
  <br>
  <button type="button" class="btn" style=" right:40px;background-color:rgb(224, 230, 231); position: absolute;left:210px;">BUSSINESS</button>&nbsp;
  <button type="button" class="btn" style="background-color:rgb(224, 230, 231);position: absolute;left:360px;">TECHNOLOGY</button>&nbsp;
  <button type="button" class="btn"style="background-color:rgb(224, 230, 231);position: absolute;left:530px;">VENDOR</button>&nbsp;
    <br>
     
    

  <br>
  <br>
      <div class="container"style="width: 300px;right:450px;top:100px; height: 10px;position: absolute;right: 10px;">
        <h6>70% of profile is complete</h6>
        <div class="progress">
          <div class="progress-bar" style="width:70%">70%</div>
        </div>
      </div>
      <!-- background color -->
      <div style="width: 100%;height:700px;background-color:rgb(224, 230, 231);">
      <div style="position: absolute;margin-top:100px;width: 300px;height:450px; left:180px;background-color:white"></div>
      <div style="position: absolute;margin-top:100px;width: 300px;height:700;border: 1px white; left:180px;background-color:white">
        <h3 style="position: relative;left: 130px;">PHP</h3>
        <hr>
       <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">overview</p>
          <div style="position: absolute;left: 4px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;"></div><p style="position: relative;left: 40px;">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">Describe</p>
          <p style="position: relative;left: 60px;">Classes Starting from:-</p>
      <br>
      from : <input type="date"> <br><br> To : <input type="date">
     <br>
     <br> <button style="position: relative;left:60px;background-color:rgb(218, 215, 212);">ENROLL NOW</button>
      </div>
      <div style="position: absolute;margin-top:100px;width: 300px;height:450px;border: 1px white; left:550px;background-color:white;">
        <h3 style="position: relative;left: 130px;">jAVA</h3>
        <hr>
        <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">overview</p>
          <div style="position: absolute;left: 4px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;"></div><p style="position: relative;left: 40px;">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">Describe</p>
          <p style="position: relative;left: 60px;">Classes Starting from:-</p>
      <br>
      from : <input type="date"style="left:30px;"> <br><br> To : <input type="date" style="position: relative;left: px;" >
      <br>
      <br> <button style="position: relative;left:60px;background-color:rgb(218, 215, 212);">ENROLL NOW</button>
    </div>
        <div style="position: absolute;margin-top:100px;width: 300px;height:450px;border: 1px solid white; left:900px;background-color:white">
          <h3 style="position: relative;left: 130px;">HTML</h3>
          <hr>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">overview</p>
          <div style="position: absolute;left: 4px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;"></div><p style="position: relative;left: 40px;">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;"></div><p style="position: relative;left: 40px;">Describe</p>
          <p style="position: relative;left: 60px;">Classes Starting from:-</p>
        <br>
        from : <input type="date"> <br><br> To : <input type="date">
        <br>
        <br> <button style="position: relative;left:60px;background-color:rgb(218, 215, 212);">ENROLL NOW</button>  
    </div>
          <div style="width: 300px;right:450px;top:200px; height: autopx;position: absolute;right: 10px;border: 1px solid white;background-color:rgb(218, 215, 212);">
            <div class="form-group"  style="position: relative;left: 40px;">
              <label class="mb-2 mr-sm-2">PHP :</label>&nbsp;
              <button type="button" class="btn btn-light"style="position:relative;left:100px;">Start</button>
                  </div>
                  <div class="form-group" style="position: relative;left: 40px;">
                    <label class="mb-2 mr-sm-2">JAVA:</label>&nbsp;
                    <button type="button" class="btn btn-light"style="position:relative;left:97px;">Start</button>
                        </div>
                        
                        <div class="form-group"  style="position: relative;left: 40px;">
                          <label class="mb-2 mr-sm-2">HTML:</label>&nbsp;
                          <button type="button" class="btn btn-light"style="position:relative;left:94px;">Start</button>
                        </div>
                      
                                    <div class="form-group"  style="position: relative;left: 40px;">
                                      <label class="mb-2 mr-sm-2">PYTHON:</label>&nbsp;
                                      <button type="button" class="btn btn-light"style="position:relative;left:74px;">Start</button>
                                     </div>
            <div class="form-group"  style="position: relative;left: 40px;">
  
              <label class="mb-2 mr-sm-2">JAVA SCRIPT:</label>&nbsp;
              <button type="button" class="btn btn-light"style="position:relative;left:42px;">Start</button >
                  </div>
            </div>
  <br>
  <br>
      </div>

