
 <div style="width: 100%;height: 65px;background-color:#404040;">
  <a style="position: relative;left:30px;font-size: 20px;top:16px;color:white" [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/register']" style="position: relative;left:1350px;color:white; font-size: 20px;top:16px">Register</a>
</div>
  <div style="position: absolute;left:800px;width:400px ;height: auto;top:100px">
  <div class="col-sm-12">
<form >
  <br><br>
  <div class="form-group">

    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
<br>
  </div>
  <div class="form-group">

    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your Password">
  </div>
  <br>
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember</label>
  </div>
  <button type="submit" class="btn btn-primary" [routerLink]="['/newstudent']"style="position: relative;left:130px" style="width: 370px; height: 45px;">Login</button>
<br><br>
<button type="submit" class="btn btn-danger" [routerLink]="['/home']"style="position: relative;left:130px" style="width: 370px; height: 45px;">Cancel</button>
</form>
</div>
 </div>



