<!-- <nav class="navbar navbar-expand-sm bg-light bg-danger">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <div class="p-1 text-primary">Register</div>
    </li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Login
        </button>
        <div class="dropdown-menu">
          <a class=" btn btn-primary"[routerLink]="['/student']">Student</a>
          <a class="dropdown-item" href="#">Admin</a>
          <a class="dropdown-item" href="#">Teacher</a>
        </div>
      </div>
    </li>
  </ul>
</nav> -->

      <router-outlet></router-outlet>


