<nav class="navbar navbar-default" style="height:65px;background-color:#404040;">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:10px;top:10px;">Cname</a>
      </li>
      <li>
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:150px;top:10px;">My Courses</a>
        </li>
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:300px;top:10px;">Resourses</a>
        <li>
          </li>
      <li>
         <div class="searchBox"style="position:absolute;top:-15px;left:1300px" >
        <input class="searchInput"type="text" name="" placeholder="Search">
          <button class="searchButton" href="#">
              <i class="material-icons">
                  search
              </i>
          </button>
          </div>
        </li>
    </ul>
  </nav>

  <div class="glyphicon glyphicon-user" >
    <a class=" dropdown-toggle" data-toggle="dropdown"style="position:absolute;right:60px;top:20px;border-radius:30px;color:white">
      </a>
    <div class="dropdown-menu" style="position: absolute;right: 300px;width:20px">
    <a class="dropdown-item" [routerLink]="['/studentprofile']">Profile</a><hr>
    <a class="dropdown-item" href="#">Earnings</a> <hr>
    <a class="dropdown-item" href="#">Reports</a><hr>
    <a class="dropdown-item" href="#">Help & Support</a><hr>
    <a class="dropdown-item" href="#">Reviews</a><hr>
    <a class="dropdown-item" href="#">Logout</a>
  </div>
  <img src="/assets/image/icon.png" style="width:40px; height:40px;border-radius:150px;position: absolute;left:1400px;top:15px;"/>
  </div>
<br><br><br>
  <div class="container">
    <h6>HI Text Viewer</h6>
    <p>Click on the button to toggle between showing and hiding content.</p>
    </div>
    <br>
    <br>

  <form class="example" action="/action_page.php">
    <input type="text" placeholder="Search.." name="search" style="width: 500px;right:450px; height: 30px;position: absolute;left: 200px;">
    <button type="submit" style="position: absolute;left:700px;height:30px;width:30px"><i class="fa fa-search"></i></button>
  </form>
  <br>
  <br>
  <br>
  <div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/php']"  style="border-radius: 30px;">PHP</button>&nbsp;

   <button type="button" class="btn btn-primary"  [routerLink]="['/java']"  style="border-radius: 30px;">JAVA</button>&nbsp;

    <button type="button" class="btn btn-primary"   [routerLink]="['/html']" style="border-radius: 30px;">HTML</button>&nbsp;
    <button type="button" class="btn btn-primary" style="border-radius: 30px;">CSS</button>&nbsp;
    <button type="button" class="btn btn-primary" style="border-radius: 30px;">PYTHON</button>&nbsp;
    <button type="button" class="btn btn-primary"style="border-radius: 30px;">MYSQL</button>&nbsp;
    <button type="button" class="btn btn-primary"style="border-radius: 30px;">ANGULAR</button>&nbsp;
    <button type="button" class="btn btn-primary"style="border-radius: 30px;">JAVA SCRIPT</button>&nbsp;
    <br>
    <br>
    <br>
    <br>
    <h5>BROWSE CATEGORY</h5>
  </div>
  <br>
  <br>
  <button type="button" class="btn btn-primary" style=" position:absolute;left:200px">BUSSINESS</button>&nbsp;
  <button type="button" class="btn btn-primary" style="position: absolute;left:360px;">TECHNOLOGY</button>&nbsp;
  <button type="button" class="btn btn-primary"style="position: absolute;left:530px;">VENDOR</button>&nbsp;
    <br>



  <br>
  <br>
      <div class="container"style="width: 300px;right:50px;top:100px; height: 10px;position: absolute;">
        <h6>70% of profile is complete</h6>
        <div class="progress">
          <div class="progress-bar" style="width:70%">70%</div>
        </div>
      </div>
      <!-- PHP -->`
      <div style="position: absolute;margin-top:100px;width:350px;height:450px;border: 1px solid black;border-radius: 20px; left:180px;">
        <h3 style="position: relative;left: 130px;">PHP</h3>
        <hr>
       <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px;"></div><p style="position: relative;left: 40px;top:-15px;">overview</p>
          <div style="position: absolute;left: 30px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;position:relative;left:25px;"></div><p style="position: relative;left: 40px;top:-15px">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px;"></div><p style="position: relative;left: 40px;top:-18px;">Describe</p>
          <p style="position: relative;left:40px;">Classes Starting from:-</p>
      <br>
      <div style="position:relative;left:100px;">
      from : <input type="date"><br><br> &nbsp;&nbsp;To : <input type="date">
      </div>
      <br>
     <br> <button class="btn btn-primary" style="position: relative;left:100px;">ENROLL NOW</button>
      </div>
      <!-- Java -->
      <div style="position: absolute;margin-top:100px;width: 350px;height:450px;border: 1px solid black;border-radius: 20px; left:600px;">
        <h3 style="position: relative;left: 130px;">JAVA</h3>
        <hr>
        <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px;"></div><p style="position:relative;left:40px;top:-15px">overview</p>
          <div style="position: absolute;left: 30px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;position:relative;left:25px;"></div><p style="position: relative;left: 40px;top:-15px">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px;"></div><p style="position: relative;left: 40px;top:-15px">Describe</p>
          <p style="position: relative;left: 40px;">Classes Starting from:-</p>
      <br>
      <div style="position:relative;left:100px;">
      from : <input type="date"style="left:30px;"> <br><br> To : <input type="date" style="position: relative;left:40 px;" >
      </div>
      <br>
      <br> <button class="btn btn-primary" style="position: relative;left:100px;">ENROLL NOW</button>
    </div>
    <!-- html -->
        <div style="position: absolute;margin-top:100px;width: 350px;height:450px;border: 1px solid black; left:1000px;border-radius: 20px;">
          <h3 style="position: relative;left: 130px;">HTML</h3>
          <hr>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px"></div><p style="position: relative;left: 40px;top:-15px">overview</p>
          <div style="position: absolute;left: 30px;top:75px; background-color: black; width: 1px;height: 100px;"></div>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;border: 1px solid black;position:relative;left:25px"></div><p style="position: relative;left: 40px;top:-15px">history</p>
          <div style="width: 10px;height: 10px;border-radius: 200px;background-color: black;position:relative;left:25px"></div><p style="position: relative;left: 40px;top:-15px">Describe</p>
          <p style="position: relative;left: 40px;">Classes Starting from:-</p>
        <br>
        <div style="position:relative;left:100px;">
        from : <input type="date"> <br><br> To : <input type="date">
        </div>
        <br>
        <br> <button class="btn btn-primary"style="position: relative;left:100px;">ENROLL NOW</button>
    </div>
    <!-- side content to start -->
          <div style="width: 300px;right:450px;top:200px; height: autopx;position: absolute;right: 40px;">
            <div class="form-group"  style="position: relative;left: 40px;">
              <label class="mb-2 mr-sm-2">PHP :</label>&nbsp;
              <button type="button" class="btn btn-primary"style="position:relative;left:100px;">Start</button>
                  </div>
                  <div class="form-group" style="position: relative;left: 40px;">
                    <label class="mb-2 mr-sm-2">JAVA:</label>&nbsp;
                    <button type="button" class="btn btn-primary"style="position:relative;left:97px;">Start</button>
                        </div>

                        <div class="form-group"  style="position: relative;left: 40px;">
                          <label class="mb-2 mr-sm-2">HTML:</label>&nbsp;
                          <button type="button" class="btn btn-primary"style="position:relative;left:94px;">Start</button>
                        </div>

                                    <div class="form-group"  style="position: relative;left: 40px;">
                                      <label class="mb-2 mr-sm-2">PYTHON:</label>&nbsp;
                                      <button type="button" class="btn btn-primary"style="position:relative;left:74px;">Start</button>
                                     </div>
            <div class="form-group"  style="position: relative;left: 40px;">

              <label class="mb-2 mr-sm-2">JAVA SCRIPT:</label>&nbsp;
              <button type="button" class="btn btn-primary"style="position:relative;left:42px;">Start</button >
                  </div>
            </div>


