<div >
 
  <div style="position: absolute;margin-top:100px;width: 300px;height:300px;border: 2px solid black; left:400px;background-color: white;">
    <div class="col-sm-6"style="position:absolute;top:60px;" >
      
      <form class="form-inline">
        <div class="form-group">
    <label class="mb-2 mr-sm-2">PHP :</label>&nbsp;
    <button type="button" class="btn btn-light">Light</button>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label class="mb-2 mr-sm-2">JAVA:</label>&nbsp;
          <button type="button" class="btn btn-light">Light</button>
              </div>
              <br>
              <br>
              <div class="form-group">
                <label class="mb-2 mr-sm-2">HTML:</label>&nbsp;
                <button type="button" class="btn btn-light">Light</button>
              </div>
              <br>
                          <div class="form-group">
                            <label class="mb-2 mr-sm-2">PYTHON:</label>&nbsp;
                            <button type="button" class="btn btn-light">Light</button>
                           </div>
  <div class="form-group">
    <br>
    <label class="mb-2 mr-sm-2">JAVA SCRIPT:</label>&nbsp;
    <button type="button" class="btn btn-light">Light</button>
        </div>
        
        <div class="form-group">
          <br>
            <label class="mb-2 mr-sm-2">ANGULAR:</label>&nbsp;
          <button type="button" class="btn btn-light">Light</button>
              </div>
            
    
   
  
      </form>
    </div>
    
  </div>
 
</div>



