


<!-- <a [routerLink]="['./dassboard']">Dassboare</a>
<a [routerLink]="['./user']">User</a> -->
<!-- <button (click)="opened=!opened" ><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened">Sidenave</mat-sidenav>
  <mat-sidenav-content>main</mat-sidenav-content>
  </mat-sidenav-container> -->
  <!-- <button type="button" mat-button (click)="drawer.toggle()" style="position: absolute;top:60px;">
    Toggle sidenav
  </button> -->
  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>-->
<!-- <div style="position: absolute;left:0px;">
   <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="opened">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="opened = !opened" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer> -->

    <!-- <div class="example-sidenav-content" style="position: absolute;top:0px;" >
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->

  <!-- </mat-drawer-container>
  </div> -->


