<nav class="navbar navbar-default" style="height:65px;background-color:#404040;">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:10px;top:10px;">Cname</a>
      </li>
      <li>
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:150px;top:10px;">My Courses</a>
        </li>
        <a [routerLink]="['/home']"style="position:absolute;color:white;font-size:20px;left:300px;top:10px;">Resourses</a>
        <li>
          </li>
      <li>
         <div class="searchBox"style="position:absolute;top:-15px;left:1300px" >
        <input class="searchInput"type="text" name="" placeholder="Search">
          <button class="searchButton" href="#">
              <i class="material-icons">
                  search
              </i>
          </button>
          </div>
        </li>
    </ul>
  </nav>


  <div class="glyphicon glyphicon-user" >
    <a class=" dropdown-toggle" data-toggle="dropdown"style="position:absolute;right:60px;top:20px;border-radius:30px;color:white">
      </a>
    <div class="dropdown-menu" style="position: absolute;right: 300px;width:20px">
    <a class="dropdown-item" [routerLink]="['/studentprofile']">Profile</a><hr>
    <a class="dropdown-item" href="#">Subscription</a> <hr>
    <a class="dropdown-item" href="#"[routerLink]="['/notes']">Notes</a><hr>
    <a class="dropdown-item" href="#">Help & Support</a><hr>
    <a class="dropdown-item" href="#">Feedback</a><hr>
    <a class="dropdown-item" href="#">Logout</a>
  </div>
  <img src="/assets/image/icon.png" style="width:40px; height:40px;border-radius:150px;position: absolute;left:1400px;top:15px;"/>
  </div>

  <div style="position: absolute;top:100px;left:60px;">
<h3>Notes</h3>
</div>
<div style="position: absolute;top:200px;width:60%;left:20px;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name of the notes</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>php</td>
      <td>mp4</td>
      <td>Download</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>java</td>
      <td>pdf</td>
      <td>Download</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>c</td>
      <td>pdf</td>
      <td><a>Download</a></td>
    </tr>
  </tbody>
</table>
</div>
